<div class="test-form-col">
<form (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
    <div class="form-group col-xs-6">
        <label for="firstname">Firstname:</label>
        <input type="text" class="form-control" placeholder="firstname" formControlName="firstname" >
        <div class="alert alert-danger"
          *ngIf="userForm.get('firstname').hasError('required') && userForm.get('firstname').touched">Name is required</div>
    </div>
    <div class="form-group col-xs-6">
        <label for="firstname">Lastname:</label>
        <input type="text" class="form-control" placeholder="lastname" id="lastname" formControlName="lastname" >
    </div>
    <div class="form-group col-xs-6">
        <label for="email">Email:</label>
        <input type="text" class="form-control" placeholder="email" id="email" formControlName="email" >
        <div class="alert alert-danger" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">Email is required</div>
    </div>
    <div class="form-group col-xs-6">
        <label for="email">Gender:</label>
        <input type="text" class="form-control" placeholder="gender" id="gender" formControlName="gender" >
    </div>
    <button type="submit" [disabled]="crown()" class="btn btn-primary submit-button">Submit</button>
</form>
</div>

