  <select multiple (change)="setSelectedP1($event.target)">
    <option *ngFor="let p1 of getAllData()" [value]="p1.model.value">{{p1.model.name}}</option>
  </select>
  <span>
    <button type="button" [disabled]="removeFromSelectedButtonDisabled()" (click)="removeFromSelected()">Remove</button>
    <button type="button" [disabled]="addToSelectedButtonDisabled()" (click)="addToSelected()">Add</button>
  </span>
  <select multiple (change)="setSelectedP2($event.target)">
    <option *ngFor="let p2 of getSelectedData()" [value]="p2.model.value">{{p2.model.name}}</option>
  </select>
